<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true" color="primary">

  <div id="container">

    <div id="imagens">
      <img src="../../assets/iconeTransp.png" alt="Logomarca">
    </div>

    <ion-button size="large" expand="block" color="warning" (click)="abrirTela('pergunta')">Iniciar</ion-button>
    <ion-button size="large" expand="block" color="warning" (click)="abrirTela('instrucao')">Instruções</ion-button>
    <ion-button size="large" expand="block" color="warning" (click)="abrirTela('sobre')">Sobre</ion-button>

  </div>

</ion-content>
