<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true" color="primary">

  <div id="container">

    <div id="imagens">
      <img src="../../assets/iconeTransp.png" alt="Logomarca">
    </div>

    <!-- <ion-button shape="round" size="large" expand="block" color="tertiary" (click)="abrirTela('login')">Login</ion-button>
    <ion-button shape="round" size="large" expand="block" color="danger" (click)="logout()">Sair / Logout</ion-button> -->
    <ion-button shape="round" size="large" expand="block" color="success" (click)="abrirTelaPergunta('pergunta')">Iniciar</ion-button>
    <ion-button shape="round" size="large" expand="block" color="secondary" (click)="abrirTela('instrucao')">Instruções</ion-button>
    <ion-button shape="round" size="large" expand="block" color="medium" (click)="abrirTela('sobre')">Sobre</ion-button>

  </div>

</ion-content>
