<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Criar conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="primary">

  <div class="icone">
    <img src="../../assets/iconeTransp.png" alt="Logomarca">
  </div>

  <form [formGroup]="fGroup">
    <div>
      <ion-item lines='none' color="tertiary">
        <ion-label position="floating">Nome</ion-label>
        <ion-input clearInput maxlength="50" type="text" formControlName="name" [(ngModel)]="userRegister.nome"></ion-input>
      </ion-item>
      <ion-item lines='sobrenone' color="tertiary">
        <ion-label position="floating">Sobrenome</ion-label>
        <ion-input clearInput maxlength="50" type="text" formControlName="lastname" [(ngModel)]="userRegister.sobrenome"></ion-input>
      </ion-item>
      <ion-item lines='none' color="tertiary">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input clearInput maxlength="50" type="email" formControlName="email" [(ngModel)]="userRegister.email"></ion-input>
      </ion-item>
      <ion-item lines='none' color="tertiary">
        <ion-label position="floating">Senha</ion-label>
        <ion-input clearInput maxlength="10" type="password" formControlName="password" [(ngModel)]="userRegister.senha"></ion-input>
      </ion-item>
      <ion-item lines='none' color="tertiary">
        <ion-label position="floating">Repetir a Senha</ion-label>
        <ion-input clearInput maxlength="10" type="password" formControlName="repassword" [(ngModel)]="userRegister.repassword"></ion-input>
      </ion-item>
    </div>
    <p>* Senha: de 6 a 10 caracteres</p>
  </form>

  <ion-button (click)="register()" shape="round" color="success" [disabled]="!fGroup.valid">Criar conta</ion-button>

</ion-content>
