#container{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid white;
  text-align: center;
  margin: 50px 8px 8px 8px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

ion-col{
  border: 1px solid white;
}

.icone{
  text-align: center;
}
