.custom-title{
  padding-top: 5em;
  padding-bottom: 2.5em;
  text-align: center;
}

.container-buttons{
  text-align: center;
}

div{
  margin: 10px 10px 10px 10px;
  text-align: center;
}

ion-item{
  border: 1px solid #92949C;
  margin-top: 10px;
  border-radius: 10px;
}