<ion-header></ion-header>

<ion-content color="dark">
  <h1 class="custom-title">Login</h1>

  <div>
    <ion-item lines='none' color="primary">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input clearInput maxlength="20" type="email" [(ngModel)]="userLogin.email"></ion-input>
    </ion-item>
    <ion-item lines='none' color="primary">
      <ion-label position="floating">Senha</ion-label>
      <ion-input clearInput maxlength="15" type="password" [(ngModel)]="userLogin.password"></ion-input>
    </ion-item>
  </div>


  <div class="container-buttons">
    <ion-button shape="round" color="success" (click)="abrirTela('create-user')">Criar conta</ion-button>
    <ion-button shape="round" (click)="login()">Fazer login</ion-button>
    <ion-button shape="round" color="danger" (click)="alertaConfirma()">Sair</ion-button>
  </div>

</ion-content>
