<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perguntas {{numero+1}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div id="perguntas">
      {{pergunta}}
    </div>

    <div id="respostas">
      <ion-list>
        <ion-radio-group>
          <ion-item lines="none" (click)="pegarResposta(1)">
            <ion-label>{{opcao01}}</ion-label>
            <ion-radio slot="end" value="op01" color="danger"></ion-radio>
          </ion-item>
          <ion-item lines="none" (click)="pegarResposta(2)">
            <ion-label>{{opcao02}}</ion-label>
            <ion-radio slot="end" value="op02" color="danger"></ion-radio>
          </ion-item>
          <ion-item lines="none" (click)="pegarResposta(3)">
            <ion-label>{{opcao03}}</ion-label>
            <ion-radio slot="end" value="op03" color="danger"></ion-radio>
          </ion-item>
          <ion-item lines="none" (click)="pegarResposta(4)">
            <ion-label>{{opcao04}}</ion-label>
            <ion-radio slot="end" value="op04" color="danger"></ion-radio>
          </ion-item>
          <ion-item lines="none" (click)="pegarResposta(5)">
            <ion-label>{{opcao05}}</ion-label>
            <ion-radio slot="end" value="op05" color="danger"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="dark" (click)="inicio()">Início</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="block" color="dark" (click)="proximo()">Próximo</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
