<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perguntas {{numero+1}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
      <div id="pergunta">
        {{pergunta}}
      </div>
      <br>
      <br>
      <ion-list>
        <ion-radio-group value="respostaEscolhida" [(ngModel)]="respostaEscolhida">
          <ion-item lines="none">
            <ion-label class="ion-text-wrap">{{opcao01}}</ion-label>
            <ion-radio slot="end" value="1" color="success"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="ion-text-wrap">{{opcao02}}</ion-label>
            <ion-radio slot="end" value="2" color="success"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="ion-text-wrap">{{opcao03}}</ion-label>
            <ion-radio slot="end" value="3" color="success"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="ion-text-wrap">{{opcao04}}</ion-label>
            <ion-radio slot="end" value="4" color="success"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button shape="round" expand="block" color="warning" (click)="abrirTela('folder/Inbox')">Início</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="block" color="danger" (click)="inicio()">Recomeçar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="block" color="success" (click)="proximo()">Próximo</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
