#pergunta{
  text-align: center;
  font-size: 13pt;
  font-weight: bold;
  margin: 50px 10px 10px 10px;
}

ion-list{
  margin: 8px 8px 8px 8px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

ion-label{
  font-size: 12pt;
  font-weight: bold;
}

ion-footer{
  background-color: #3880ff;
}
