<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perguntas {{numero+1}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div id="container">
    <div id="perguntas">
      {{pergunta}}
    </div>
    <br>
    <br>
    <div id="respostas">
      <ion-list>
        <ion-radio-group>
          <ion-item lines="none" (click)="pegarResposta(1)">
            <ion-label class="ion-text-wrap">{{opcao01}}</ion-label>
            <ion-radio slot="end" value="op01" color="danger"></ion-radio>
          </ion-item>
          <ion-item lines="none" (click)="pegarResposta(2)">
            <ion-label class="ion-text-wrap">{{opcao02}}</ion-label>
            <ion-radio slot="end" value="op02" color="danger"></ion-radio>
          </ion-item>
          <ion-item lines="none" (click)="pegarResposta(3)">
            <ion-label class="ion-text-wrap">{{opcao03}}</ion-label>
            <ion-radio slot="end" value="op03" color="danger"></ion-radio>
          </ion-item>
          <ion-item lines="none" (click)="pegarResposta(4)">
            <ion-label class="ion-text-wrap">{{opcao04}}</ion-label>
            <ion-radio slot="end" value="op04" color="danger"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button shape="round" expand="block" color="warning" (click)="abrirTela('folder/Inbox')">Início</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="block" color="danger" (click)="inicio()">Recomeçar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button shape="round" expand="block" color="success" (click)="proximo()">Próximo</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
