#container{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid red;
  text-align: center;
}

#perguntas{
  text-align: center;
  font-size: 17pt;
  font-weight: bold;
}

ion-label{
  font-size: 16pt;
  font-weight: bold;
}
