#container{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#perguntas{
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
}

#respostas{
  margin: 8px 8px 8px 8px;
}

ion-label{
  font-size: 13pt;
  font-weight: bold;
}

ion-footer{
  background-color: #222428;
}
