<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Perguntas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">

<form [formGroup]="fGroup" (ngsubmit)="CreateRecord()">
  <div>
    <ion-item lines='none' color="primary">
      <ion-label position="floating">Pergunta</ion-label>
      <ion-input clearInput maxlength="300" type="text" formControlName="pergunta"></ion-input>
    </ion-item>
    <ion-item lines='none' color="primary">
      <ion-label position="floating">Resposta 1</ion-label>
      <ion-input clearInput maxlength="300" type="text" formControlName="resposta1"></ion-input>
    </ion-item>
    <ion-item lines='none' color="primary">
      <ion-label position="floating">Resposta 2</ion-label>
      <ion-input clearInput maxlength="300" type="text" formControlName="resposta2"></ion-input>
    </ion-item>
    <ion-item lines='none' color="primary">
      <ion-label position="floating">Resposta 3</ion-label>
      <ion-input clearInput maxlength="300" type="text" formControlName="resposta3"></ion-input>
    </ion-item>
    <ion-item lines='none' color="primary">
      <ion-label position="floating">Resposta 4</ion-label>
      <ion-input clearInput maxlength="300" type="text" formControlName="resposta4"></ion-input>
    </ion-item>
    <ion-item lines='none' color="primary">
      <ion-label position="floating">Correta</ion-label>
      <ion-input clearInput maxlength="3" type="text" formControlName="correta"></ion-input>
    </ion-item>
    <ion-item lines='none' color="primary">
      <ion-label position="floating">ID</ion-label>
      <ion-input clearInput maxlength="3" type="text" formControlName="id"></ion-input>
    </ion-item>
  </div>

</form>

  <ion-button (click)="CreateRecord()" shape="round" color="success" [disabled]="fGroup.invalid">Criar Pergunta</ion-button>

</ion-content>
