<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Instruções</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div id="container">
  <ion-card color="success">

    <ion-card-header>
      <ion-card-title color="primary">Instruções do Quiz:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Clique em iniciar<br>
      Este jogo tem dez perguntas<br>
      Escolha a resposta que você achar a correta<br>
      Clique em próximo<br>
      Ao término das dez perguntas veja o resulatdo
    </ion-card-content>

  </ion-card>
  </div>

</ion-content>
