div {
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-card{
  margin-top: 1px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

ion-card-title{
  font-size: 25px;
  text-align: center;
}

ion-card-content{
  font-size: 20px;
  margin: auto;
}
