<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div id="container">
  <ion-card color="success">

    <ion-card-header>
      <ion-card-title>Sobre o Quiz</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Programa desenvolvido por<br>
      Alunos do Curso de Desenvolvimento de Sistemas<br>
      Etec Aprígio Gonzaga.
    </ion-card-content>

  </ion-card>
  </div>

</ion-content>
