div{
  text-align: center;
}

ion-card{
  border-radius: 20px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

ion-card-content{
  font-size: 20px;
  margin: auto;
}

img{
  margin-top: 1px;
}
