<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <div id="container">

    <div id="imagens">
      <img src="../../assets/iconeTransp.png" alt="Logomarca">
      <br>
      <br>
    </div>

  <ion-card color="success">

    <ion-card-header>
      <ion-card-title><h1>Sobre o Quiz Educacional</h1></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h2>
        Programa desenvolvido por<br>
        Alunos do Curso de Desenvolvimento de Sistemas<br>
        Etec Aprígio Gonzaga<br>
        Projeto TCC
      </h2>

    </ion-card-content>

  </ion-card>
  </div>

</ion-content>
